<!DOCTYPE html>
<html>
<head>
    <title>SHORTEN URL</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="/skeleton.css" type="text/css">
</head>
<body bgcolor=ffffff>
    <center>
        <table width=750>
            <tr><td>
                <center><font size=-1>A <i>simple</i> URL shortener, made using Flask</font><br></center>
                <hr>
                <center>
                    {% if error %}
                    <p style="color: red;">{{ error }}</p>
                    {% endif %}
                    {% if new_url %}
                    <p style="color: orange;">Your URL is available <a href='{{ new_url }}'>here</a>!</p>
                    {% endif %}
                    <form action="/create" method="post">
                        <label for="URLTEXT">URL:</label>
                        <input id="URLBOX" name="url" placeholder="URL (eg: https://localhost:8000)"><br>
                        <br><input type="submit" value="Create">
                    </form>
                </center>
                </td></tr>
            </table>
        <p>{{ total }} total URLs submitted</p>
        <a class="button" href="https://github.com/ilikepyt/urlshortener">Source Code</a>
        <p class="credit">v 2.0</p>
        </center>
    </body>
</html>
